.create-league-step{

.div1{
    margin-right: 28rem;
 input{
    width: 40rem;
    height: 4rem;
    border-width: 0.2rem;
    border-radius: 1rem;
    font-size: x-large;
}
span{
    font-size: large;
    position: relative;
    margin-right: 28rem;
        color:var(--color-nav); 
        
}
}

.MuiFormControlLabel-root {
    display: inline-block;
}


.div2, .div3 {
    margin-top: 2em;
    margin-right: 25rem;

    .MuiSvgIcon-root{
        float: left;
        width: 3rem;
        
    }
    .MuiFormGroup-root {
        display: inline;
        flex-wrap: wrap;
        flex-direction: column;
    }

}

.div2{
margin-right: 45rem;
h3{
    margin-right: 13rem;
}
}

.div3{
margin-right: 32rem;
h3{
    margin-right: 29rem;
}
}
}
