.main-div {
  @include column-layout-basic;
  overflow: hidden;
  font-size: 1.5rem;

  .team-data {
    display: flex;
    align-items: center;

    img {
      width: 15rem;
      height: 15rem;
    }

    &__info {
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__text {
      margin-block-end: auto;
    }

    &__name {
      font-size: 5rem;
      font-weight: bold;
    }

    &__dry-info {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    &__user {
      font-size: 1.5rem;
    }

    &__season {
      font-size: 1.05rem;
    }

    &__position {
      border: 1px solid #ddd;
      padding: 2rem 3.75rem;
      border-radius: 50%;
      background-color: #ddebf7;
    }
  }
}

.weekly-recap {
  @include use-basic-page-setup;
  position: relative;
  width: 31rem;
  height: 38rem;
  border: 1px solid rgb(96, 96, 96);

  .twitter-box {
    position: relative;
    top: 40rem;
    right: 5.5rem;
  }
}

.articles {
  position: relative;
  margin: 1rem;
  .mediaBox {
    width: 28rem;
  }
}

.board {
  width: 80%;
  padding: 1.25rem 0;

  h2 {
    margin-left: 0;
    text-align: center;
    font-size: 2.5rem;
  }

  &__item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    font-size: 1.25rem;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &:nth-child(2n) {
      background-color: #ddebf7;
    }
  }

  &__position {
    font-weight: bold;
    margin-inline-end: 2rem;
  }

  &__name {
    margin-inline-end: auto;
    font-size: 1.5rem;
  }
}

.matchups {
  margin-top: 4rem;

  &__simulate {
    border: none;
    padding: 1rem 2.15rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #ed254e;
    color: white;
  }

  .matchup {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1.2rem;
    width: 80%;
    margin-bottom: 0.5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__win {
      background-color: #c2f2ba;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__team-score {
      font-size: 1.75rem;
    }

    &__game-status {
      font-size: 1.15rem;
    }
  }
}
