.players-filters {
  @include column-layout-basic;
  font-size: 1.5rem;
}

.players-positions {
  font-size: 1em;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  .position-label {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(139, 139, 139, 0.3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    padding: 0.15em 1em;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 250ms ease-in-out;
  }

  .position-checkbox {
    position: absolute;
    visibility: hidden;
  }

  .position-checkbox:checked + .position-label {
    border: 2px solid var(--color-white);
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

/* Toggle Wrapper */
.toggle-wrapper {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 1.5em;
  }

  .toggle-checkbox {
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.5em;
    height: 0.75em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:checked {
      background-color: #0ebeff;
    }

    &::after {
      position: absolute;
      content: '';
      width: 0.75em;
      height: 0.75em;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
      transform: scale(0.7);
      left: 0;
      transition: all 0.2s ease-in-out;
    }

    &:checked::after {
      left: calc(100% - 0.75em);
    }
  }
}

.players-main {
  grid-column: 2 / -1;
  background-color: var(--color-white);
  padding: 2rem;
}
