.players-filters {
  @include use-basic-page-setup;

  &-title {
    display: flex;
    align-items: baseline;
    margin-bottom: 8rem;

    h1 {
      margin-inline-end: 1rem;
    }

    span {
      font-size: 1.15rem;
      color: #777;
    }
  }

  &-select {
    display: flex;
    gap: 1rem;

    & > * {
      flex: 1;
    }
  }
}

.players-positions {
  display: flex;
  align-items: baseline;
  margin-bottom: 1.5rem;

  &-title {
    font-size: 1.45rem;
    margin-inline-end: 1.15rem;
    margin-left: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  .position-label {
    display: inline-block;
    background-color: #005687;
    color: var(--color-white);
    font-weight: 700;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    padding: 0.25rem 1.15rem;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 250ms ease-in-out;
  }

  .position-checkbox {
    position: absolute;
    visibility: hidden;
  }

  .position-checkbox:checked + .position-label {
    background-color: var(--color-nav);
  }
}

.players-main {
  @include use-basic-page-setup;
}
