.global-list{
    background-color: white;
margin-top: 2.8rem;
width: 28rem;
height: 30rem;
border: 1px solid #898989;
border-radius: 1rem;
p{
padding: 1rem;
}
}

  .list li {
    list-style: none;
  }



