.mediaBox{
  @include use-basic-page-setup;

  width: 31rem;
  height: 30rem;
  
  background: #FFFFFF;
  border: 1px solid #898989;
  box-sizing: border-box;
  border-radius: 1rem;
  margin-left: 4.5rem;
  }

  