.slider {
  position: relative;
  height: 26rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 6rem;

  .card {
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    p {
      font-size: 1.5rem;
    }

    .card-title {
      align-self: flex-start;
    }

    .card-team {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p:nth-child(3) {
        margin-left: 4rem;
      }

      img {
        display: block;
        width: 3rem;
        height: 2rem;
      }
    }
  }

  button {
    position: absolute;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .forward {
    @extend button;
    right: -6rem;
  }
  .back {
    @extend button;
    left: -6rem;
  }
}
