.table-container {
  max-height: 60vh;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  //   position: sticky;
  //   top: 0;
  //   background-color: #fff;
}

tr,
td,
th {
  border: 1px solid black;
  text-align: center;
}

.table-sub-header {
  width: 100%;
}

td {
  padding: 1rem;
}

.table-body-row:nth-child(2n + 1) {
  background-color: #ddebf7;
}
