.toggle-wrapper {
    display: flex;
    align-items: center;
  
    & > *:not(:last-child) {
      margin-right: 1.5em;
    }
  
    .toggle-checkbox {
      font-size: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 2.25em;
      height: 0.75em;
      background: #ddd;
      border-radius: 3em;
      position: relative;
      cursor: pointer;
      outline: none;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  
      &:checked {
        background-color: #009518;
      }
  
      &::after {
        position: absolute;
        content: '';
        width: 0.75em;
        height: 0.75em;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
        transform: scale(0.7);
        left: 0;
        transition: all 0.2s ease-in-out;
      }
  
      &:checked::after {
        left: calc(100% - 0.75em);
      }
    }
  }