@import './basics/root';
@import './basics/reset';

@import './setup/layout';
@import './setup/mixins';


// Components
@import '../components/common/styles/ToggleCheckbox.scss';
@import '../components/common/styles/SelectInput.scss';
@import '../components/layout/styles/Header.scss';
@import '../components/pages/styles/PlayersPage.scss';