@import './basics/root';
@import './basics/reset';

@import './setup/layout';
@import './setup/mixins';

// Components
@import '../components/layout/styles/Header.scss';
@import '../components/common/styles/ToggleCheckbox.scss';
@import '../components/common/styles/MediaBox.scss';
@import '../components/common/styles/SelectInput.scss';
@import '../components/common/styles/ListView.scss';
@import '../components/common/styles/Slider.scss';
@import '../components/common/styles/Table.scss';
@import '../components/common/styles/YouTube.scss';
@import '../components/pages/styles/PlayersPage.scss';
@import '../components/pages/styles/HomePage.scss';
@import '../components/pages/styles/CreateLeaguePage.scss';
@import '../components/pages/styles/CreateLeagueStep.scss';
@import '../components/pages/styles/MyTeam.scss';
@import '../components/pages/styles/InviteParticipants.scss';
