:root {
  --color-nav: #051c2d;
  --bg-color: #e5e5e5;
  --primary-color: #e5e5e5;
  --color-black: #000;
  --color-white: #fff;

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
