.container {
  display: grid;
  grid-template-columns: minmax(35rem, 1fr) 3fr minmax(35rem, 1fr);
  background-color: var(--primary-color);
}

.left-column {
  grid-column: 1 / 2;
}

.middle-column {
  grid-column: 2 / 3;
}

.right-column {
  grid-column: 3 / -1;
}

.full-site-column {
  grid-column: 1 / -1;
}

.fill-2-columns {
  grid-column: 2 / -1;
}
