.header {
  background-color: var(--color-nav);
  color: var(--color-white);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 2rem;
  padding: 0 3em;

  &-title {
    text-decoration: none;
    font-weight: 700;
    color: currentColor;
    display: flex;
    align-items: center;
  }

  &-nav {
    font-size: 0.85em;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }

    &-item {
      a {
        text-decoration: none;
        color: currentColor;
        display: inline-block;
        padding: 0.5em 1.25em;
        position: relative;
        transition: color 250ms ease-in 300ms;
        z-index: 1;
      }

      a:hover {
        color: var(--color-nav);
      }

      a::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2px;
        height: 0;
        background-color: rgba(255, 255, 255, 0.8);
        transform-origin: left;
        z-index: -1;

        transition: height 250ms ease-out, width 200ms ease-out 250ms;
      }

      a:hover::before {
        height: 100%;
        width: 100%;
        transform-origin: left;
      }
    }
  }
}
